@model DegreeMapping.Models.User
@{
    ViewBag.Title = "Sign In";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(x => x.NID)
                    @Html.TextBoxFor(x => x.NID, new { @class = "form-control", required = "required", placeholder = "UCF NID" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(x => x.Password)
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password", required = "required", placeholder = "Password" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <button class="btn btn-primary">Sign In</button>
                </div>
            </div>

            if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="form-group">
                    <div class="col-md-10 alert alert-warning">
                        @Html.Raw(Model.Message)
                    </div>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#GetPDF").on('click', function () {
            pdf.getPathwayPDF();
        })
    })

    $(document).ready(function () {
        $("#GetPDF2").on('click', function () {
            DownloadFile("successpathaydegree.pdf");
        })
    })


    var pdf = {
        getPathwayPDF: function () {
            $.get({
                ///api/v2/DegreeMap/GetPDFDegree?degreeid=4419
                //url: "https://portal.connect.ucf.edu/pathway/GetListByUCFDegree?degreeId="+degreemap.degreeId,
                url: "https://dev.portal.connect.ucf.edu/pathway/api/v2/DegreeMap/GetPDFDegree?degreeid=4858",
                xhrFields: {
                    responseType: 'blob' // important for binary data
                },
                //data : "degreeId="4,
                type: "GET",
                headers: { "APIKey": "Th1sIsth3Way" },
                cache: false,
                success: function (data) {
                    const url = window.URL.createObjectURL(data);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'filename.pdf'; // optional
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                },
                error: function () {
                    alert('Failed to download PDF');
                }
            })
        }
    }
</script>

<script type="text/javascript">

    function DownloadFile(fileName) {
        //Set the File URL.
        var url = "https://dev.portal.connect.ucf.edu/pathway/api/v2/DegreeMap/GetPDFDegree?degreeid=4858";

        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            headers: { "APIKey": "Th1sIsth3Way" },
            xhr: function () {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 2) {
                        if (xhr.status == 200) {
                            xhr.responseType = "blob";
                        } else {
                            xhr.responseType = "text";
                        }
                    }
                };
                return xhr;
            },
            success: function (data) {
                //Convert the Byte Data to BLOB object.
                var blob = new Blob([data], { type: "application/octetstream" });

                //Check the Browser type and download the File.
                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = $("<a />");
                    a.attr("download", fileName);
                    a.attr("href", link);
                    $("body").append(a);
                    a[0].click();
                    $("body").remove(a);
                }
            }
        });
    };
</script>