@model List<DegreeMapping.Models.CourseMapper>

<a name="CourseMapper">&nbsp;</a>
<h2 class="heading-underline">Course Mapper</h2>
<table class="table table-hover pt-3">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>UCF Courses</th>
            <th>Partner Courses</th>
            <th>@Html.ActionLink("Add Course Map", "CourseMapperAdd", "App", new { degreeId = ViewBag.degreeId }, new { @Class = "btn btn-primary btn-lg" })</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {
            foreach (DegreeMapping.Models.CourseMapper cm in Model.OrderBy(x => x.UCFCourses.Select(y => y.Code).FirstOrDefault()))
            {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "CourseMapperEdit", "App", new { id = cm.Id }, null)
                </td>
                <td>
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.DisplayName, list_courses = cm.UCFCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.AlternateDisplayName, list_courses = cm.AlternateUCFCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.Alternate2DisplayName, list_courses = cm.Alternate2UCFCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.Alternate3DisplayName, list_courses = cm.Alternate3UCFCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.Alternate4DisplayName, list_courses = cm.Alternate4UCFCourses })

                </td>
                <td>
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.DisplayName, list_courses = cm.PartnerCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.AlternateDisplayName, list_courses = cm.AlternatePartnerCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.Alternate2DisplayName, list_courses = cm.Alternate2PartnerCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.Alternate3DisplayName, list_courses = cm.Alternate3PartnerCourses })
                    @Html.Action("_CourseMapperListView", "App", new { title = cm.Alternate4DisplayName, list_courses = cm.Alternate4PartnerCourses })
                </td>
                <td>
                    @Html.ActionLink("Delete", "CourseMapperDelete", "App", new { id = cm.Id, degreeId=cm.DegreeId }, new { @Class = "btn btn-danger btn-lg", onclick = "return confirm('Are you sure you wish to delete this course map?');" })
                </td>
            </tr>
            }
        }
    </tbody>
</table>