@model DegreeMapping.Models.Course
@{ 
    DegreeMapping.Models.Degree d = DegreeMapping.Models.Degree.Get(Model.DegreeId);


    List<DegreeMapping.Models.Course> list_course = new List<DegreeMapping.Models.Course>();
    if (d.UCFDegreeId.HasValue)
    {
        list_course = DegreeMapping.Models.Course.List(d.UCFDegreeId.Value).Where(x => x.Semester <= 1).ToList();
    }
}

@using (Html.BeginForm("CourseSave", "App", FormMethod.Post, new { @Class = "form-horizontal" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.DegreeId)
    <div class="row pt-2">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(x => x.Code) :
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", required = "required" })
            </div>
        </div>
        @if (list_course.Count > 0)
        {
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(x=>x.UCFRelatedCourse) :
                    <select name="UCFCourseId" class="form-control">
                        <option>Select UCF Course</option>
                        @foreach (DegreeMapping.Models.Course c in list_course.OrderBy(x => x.Code))
                        {
                            if (Model.UCFCourseId == c.Id)
                            {
                                <option selected="selected" value="@c.Id">@c.Code</option>
                            }
                            else
                            {
                                <option value="@c.Id">@c.Code</option>
                            }
                        }
                    </select>
                </div>
            </div>
        }
    </div>

    <div class="row pt-2">
        <div class="col-md-10">
            <div class="form-group hidden">
                @Html.LabelFor(x => x.Name) :
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(x => x.Credits) :
                @Html.TextBoxFor(x => x.Credits, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(x => x.Active) :
                @Html.CheckBoxFor(x => x.Active)
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(x => x.Critical) :
                @Html.CheckBoxFor(x => x.Critical)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(x => x.CommonProgramPrerequiste) :
                @Html.CheckBoxFor(x => x.CommonProgramPrerequiste)
            </div>
        </div>
        <div class="">
            <div class="form-group">
                @Html.LabelFor(x => x.Required) :
                @Html.CheckBoxFor(x => x.Required)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                @if (Model.InstitutionId == DegreeMapping.Models.Institution.UCFId)
                {
                <span>
                    <div><label>Semester : @Html.RadioButtonFor(x => x.Semester, 1) 1</label></div>
                    <div><label>Semester : @Html.RadioButtonFor(x => x.Semester, 5) 5</label></div>
                    <div><label>Semester : @Html.RadioButtonFor(x => x.Semester, 6) 6</label></div>
                    <div><label>Semester : @Html.RadioButtonFor(x => x.Semester, 7) 7</label></div>
                    <div><label>Semester : @Html.RadioButtonFor(x => x.Semester, 8) 8</label></div>
                </span>
                }
                else
                {
                    <span>
                        @Html.LabelFor(x => x.Semester) : @Model.Semester
                        @Html.HiddenFor(x => x.Semester)
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-md-10">
            <div class="form-group">
                @Html.LabelFor(x => x.Description) :
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", col = "10", rows = "4", maxlength = "100" })
                <span class="alert alert-warning">100 characters max</span>
            </div>
        </div>
    </div>

    <div class="row pt-2">
        <div class="col-md-8">
            <div class="form-group text-right">
                <button type="submit" class="btn btn-success btn-lg">Save</button>
                @if (Model.Id > 0)
                {
                    @Html.ActionLink("Cancel", "CourseView", new { id = Model.Id }, new { @Class = "btn btn-primary btn-lg" })
                }
                else
                {
                    @Html.ActionLink("Cancel", "DegreeView", new { id = Model.DegreeId }, new { @Class = "btn btn-primary btn-lg" })
                }

                @if (Model.Id > 0)
                {
                    @Html.ActionLink("Delete", "CourseDelete", new { id = Model.Id, degreeId = Model.DegreeId }, new { @class = "btn btn-danger btn-lg", onclick = "return confirm('Are you sure you wish to delete this course?');" })
                }
            </div>
        </div>
    </div>
}



@Html.Action("_CourseMapper", new { degreeId = Model.DegreeId })