@model List<DegreeMapping.Models.CustomCourseSemester>
@{
    int degreeId = ViewBag.DegreeId;
    DegreeMapping.Models.Degree d = DegreeMapping.Models.Degree.Get(degreeId);
}

<div class="container py-5">
    <a name="customcoursemester"></a>
    <h2 class="heading-underline">Custom Semester Content for @d.Institution</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="3" class="text-right">
                    @Html.ActionLink("Add", "CustomCourseSemesterAdd", "App", new { degreeId = degreeId }, new { @Class = "btn btn-primary btn-lg" })
                </th>
            </tr>
        </thead>
        @if (Model.Count > 0)
        {
            foreach (DegreeMapping.Models.CustomCourseSemester ccs in Model.OrderBy(x => x.Semester).ThenBy(x => x.Term))
            {
                <tr>
                    <td colspan="3" class="alert alert-warning text-center h3">Semester @ccs.Semester @ccs.Term</td>
                </tr>
                <tr>
                    <td style="width:100px">@Html.ActionLink("Edit", "CustomCourseSemesterEdit", "App", new { Id = ccs.Id }, null)</td>
                    <td>
                        @Html.Raw(ccs.Note)
                    </td>
                    <td class="float-right">
                        <a class="btn btn-danger btn-lg" href="/App/CustomCourseSemesterDelete/?Id=@ccs.Id&degreeId=@ccs.DegreeId" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>