@model DegreeMapping.Models.CustomCourseMapper
@{
    string semesterTerm = string.Empty;
    DegreeMapping.Models.Degree d = DegreeMapping.Models.Degree.Get(Model.DegreeId);
    List<DegreeMapping.Models.Course> list_courses = new List<DegreeMapping.Models.Course>();
    string credit = string.Empty;
    if (d.UCFDegreeId.HasValue)
    {
        DegreeMapping.Models.Degree ucfDegree = DegreeMapping.Models.Degree.Get(d.UCFDegreeId.Value);
        list_courses = DegreeMapping.Models.Course.List(d.UCFDegreeId.Value, null);
        d.SemesterStart = ucfDegree.SemesterStart;
        d.SemesterStartTerm = ucfDegree.SemesterStartTerm;
    }

    string urlPath = DegreeMapping.Models.AppSettings.URLPath;
    string DisplayMultipleSemesterNoClass = (d.DisplayMultipleSemesters) ? string.Empty : "alert alert-danger";
}

<div class="container py-5">
    <a name="customcoursemapper"></a>
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading-underline">Custom Course Mapper for @Model.Institution</h2>
            <div>Semster Term Order is by <span class="bg-warning px-2">@d.SemesterStartTerm</span></div>
            <div><span class="fa fa-check" style="color:green"></span> Will be displayed</div>
            <div><span class="fa fa-times" style="color:red"></span> Will <i>not</i> be displayed</div>
            @Html.ActionLink("Edit", "CustomCourseMapperEdit", "App", new { degreeId = Model.DegreeId }, null)


        <div class="form-check alert alert-info pt-3" id="DisplayMultipleSemesters">
            @Html.LabelFor(x => d.DisplayMultipleSemesters) :

            <label>Yes @Html.RadioButtonFor(x => d.DisplayMultipleSemesters, true, new { @class = "displayMultipleSemestersYes" })</label>
            <label class="DisplayMultipleSemesterNoClass @DisplayMultipleSemesterNoClass pl-3">No @Html.RadioButtonFor(x => d.DisplayMultipleSemesters, false, new { @class = "displayMultipleSemestersNo" })</label>
            <span class="pl-2 font-weight-bold" id="DisplayMultipleSemestersMessage">By selecting no, only semester 1 will display</span>
        </div>


        <table class="table table-hover">
            @foreach (DegreeMapping.Models.Course c in list_courses.OrderBy(x => x.Semester).ThenBy(x=>x.TermOrder))
            {

                string displayDisplatMultipleSemestersClass = (c.SemesterTerm == "1") ? string.Empty : "displayDisplatMultipleSemestersClass";
                if (!d.DisplayMultipleSemesters && c.SemesterTerm != "1")
                {
                    continue;
                }

                c.Description = (!string.IsNullOrEmpty(c.Description)) ? "<br /><em>" + c.Description + "</em>" : c.Description;
                credit = (!string.IsNullOrEmpty(c.CreditText)) ? c.CreditText : c.Credits.ToString();
                if (string.IsNullOrEmpty(semesterTerm) || semesterTerm != c.SemesterTerm)
                {
                    semesterTerm = c.SemesterTerm;
                    <tr>
                        <td class="text-center alert alert-warning h3 @displayDisplatMultipleSemestersClass">Semester @c.Semester @c.Term</td>
                    </tr>
                }
                <tr class="@displayDisplatMultipleSemestersClass">
                    <td>
                        @if (Model.List_CourseIds.Contains(c.Id))
                        {
                            <span class="fa fa-check" style="color:green"></span>
                        }
                        else
                        {
                            <span class="fa fa-times" style="color:red"></span>
                        }
                        @c.Code (@credit credits)
                        @Html.Raw(c.Description)
                        @if (!c.Active)
                        {
                            <p class="pt-3 mb-0 pb-3"><span class="alert alert-danger">Not Active</span></p>
                        }
                        <p>@Html.ActionLink("Edit Course", "CourseEdit", "App", new { id = c.Id }, null)</p>
                    </td>
                </tr>
            }
        </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var isChecked = true;
        $("#DisplayMultipleSemesters input[type='radio']").on('click', function () {
            isChecked = $(this).val();
            $.ajax({
                url: "@urlPath/App/UpdateDisplatMultipleSemesters?displatMultipleSemesters=" + isChecked + "&degreeId=" + @d.Id,
                method: "get",
                async: false,
            }).done(function (data) {
                if (data.displatMultipleSemesters) {
                    $('.displayMultipleSemestersYes').attr('checked', 'checked');
                    $('.DisplayMultipleSemesterNoClass').removeClass('alert')
                    $('.DisplayMultipleSemesterNoClass').removeClass('alert-danger')
                    $('.displayDisplatMultipleSemestersClass').show();
                } else {
                    $('.displayMultipleSemestersNo').attr('checked', 'checked');
                    $('.displayDisplatMultipleSemestersClass').hide();
                    if (!$('.DisplayMultipleSemesterNoClass').hasClass('alert-danger')) {
                        $('.DisplayMultipleSemesterNoClass').addClass('alert')
                        $('.DisplayMultipleSemesterNoClass').addClass('alert-danger')
                    }
                }
            })
        })
    })
</script>