@model DegreeMapping.Models.Course
@{ 
    DegreeMapping.Models.Catalog cy = DegreeMapping.Models.Catalog.Get(Model.CatalogId);
}


@section JumbotronMain {
    <div class="jumbotron jumbotron-fluid" style="background-color:@cy.BGColor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="h3">@Html.ActionLink("Degree View", "DegreeView", "App", new { id = Model.DegreeId }, null) <span class="glyphicon glyphicon-arrow-right"></span> @Html.ActionLink(Model.Degree, "DegreeView", new { id = Model.DegreeId })</div>
                    <h1 class="heading-underline">@Model.CatalogYear @Model.Degree</h1>
                    <h2>@Model.Institution</h2>
                </div>
            </div>
        </div>
    </div>
}

<div class="row py-5">
    <div class="col-md-12">

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Active) : @(Model.Active?"Yes":"No")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Code) : @Model.Code
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Credits) : @Model.Credits
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Critical) : @(Model.Critical?"Yes":"No")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.CommonProgramPrerequiste) : @(Model.CommonProgramPrerequiste?"Yes":"No")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Required) : @(Model.Required?"Yes":"No")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Semester) : @Model.Semester @Html.LabelFor(x => x.Term) : @Model.Term
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.UCFRelatedCourse) : @Model.UCFRelatedCourse
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Description) <br />
                @Html.Raw(Model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 lg">
                @Html.ActionLink("BACK", "DegreeView", new { id = Model.DegreeId }, new { @Class = "btn btn-primary btn-lg" })
                @Html.ActionLink("EDIT COURSE", "CourseEdit", new { id = Model.Id }, new { @Class = "btn btn-info btn-lg" })
            </div>
        </div>
    </div>
</div>