@model DegreeMapping.Models.DegreeMap
@{ 
    List<DegreeMapping.Models.Degree> list_d = ViewBag.DegreeList;
}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Degree Map v2</h1>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-12">
                <h2>Select Degree</h2>
                <form method="get" class="form-inline">
                    <div class="form-group input-group-lg">
                        <select name="id" class="form-control">
                            <option>Select</option>
                            @foreach (DegreeMapping.Models.Degree d in list_d.OrderBy(x => x.Name))
                            {

                                if (d.UCFDegreeId.HasValue && d.UCFDegreeId == 0)
                                {
                                    <optgroup label="@d.Name"></optgroup>
                                }
                                <option value="@d.Id">&nbsp; &nbsp; @d.Institution</option>
                            }
                        </select>
                        <button class="btn btn-primary btn-lg">Select</button>
                    </div>
                </form>
            </div>
        </div>

        @if (Model != null)
        {
            string terms = string.Join(",", Model.SemesterTerms);
            <div class="row pt-5">
                <div class="col-md-12">
                    <h1>@Model.Degree</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>@Model.Institution</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Terms</label>: @terms
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Courses</label>
                    @foreach (DegreeMapping.Models.CourseList cl in Model.Courses.OrderBy(x=>x.SemesterTerm).ThenBy(x=>x.CourseCode))
                    { 
                        <div>Semester: @cl.SemesterTerm : @cl.CourseCode</div>
                    }
                </div>
            </div>
        }

    </div>

