@model DegreeMapping.Models.Institution
@{
    List<DegreeMapping.Models.Degree> list_d = DegreeMapping.Models.Degree.List(Model.Id, null);
    string cssClass = (string.IsNullOrEmpty(Model.Description)) ? "" : "alert alert-warning";
}

<div class="row py-5 mb-5">
    <div class="col-md-12">
        <small>@Html.ActionLink("Degree list", "Checklist", "App")</small>
        <h1>@Model.Name</h1>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.URL) : @Html.Raw(Model.URL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Active) : @(Model.Active?"Yes":"No")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 @cssClass">
                @Html.LabelFor(x => x.Description) : @Model.Description
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Edit Institution", "InstitutionEdit", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>