@model DegreeMapping.Models.Institution
@{
    List<DegreeMapping.Models.Degree> list_d = DegreeMapping.Models.Degree.List(Model.Id);
    string cssClass = (string.IsNullOrEmpty(Model.Description)) ? "" : "alert alert-warning";
}

<div class="row py-5">
    <div class="col-md-12">
        <small>@Html.ActionLink("Degree list", "Checklist", "App")</small>
        <h1>@Model.Name</h1>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.URL) : @Html.Raw(Model.URL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(x => x.Active) : @(Model.Active?"Yes":"No")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 @cssClass">
                @Html.LabelFor(x => x.Description) : @Model.Description
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.ActionLink("Edit Institution", "InstitutionEdit", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>
<div class="row px-5">
    <div class="col-md-12">
        <div>
            <h2>2020-2021 Degrees</h2>
            @Html.ActionLink("Add Degree", "DegreeAdd", new { institutionId = Model.Id }, new { @class = "btn btn-primary btn-lg"})
        </div>
        @if (list_d.Count > 0)
        {
    <ul>
        @foreach (DegreeMapping.Models.Degree d in list_d.OrderBy(x => x.Name))
        {
            if (string.IsNullOrEmpty(d.Description))
            {
                <li>
                    @Html.ActionLink(d.Name, "DegreeView", new { id = d.Id })
                </li>
            }
            else
            {
                <li class="alert alert-warning">
                    <i class="fas fa-exclamation-triangle"></i>
                    @Html.ActionLink(d.Name, "DegreeView", new { id = d.Id })
                </li>
            }
        }
    </ul>
        }
    </div>
</div>